:root {
  --title-text-color: #212121;
  --article-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;

  --banner-color: #2f303a;

  --logo-color-head: #2196f3;
  --logo-color-tail: #000000;
  --logo-color-contrast: #ffffff;
}
/* Основний шрифт Roboto */
/* Колір тексту 212121, активний текст 2196F3 */
body {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  font-size: 14px;
}

.no-bullets li {
  list-style-type: none;
}

/* Розмічаємо лого студії */
.text-logo-url {
  font-family: 'Raleway', sans-serif, Arial, Helvetica;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}
.logo-color1 {
  color: var(--logo-color-head);
}
.logo-color2 {
  color: var(--logo-color-tail);
}
.logo-color3 {
  color: var(--logo-color-contrast); /*для футера */
}

/* Розмічаємо головне меню */

.main-menu-item {
  text-decoration: none;
  text-shadow: none;
  color: var(--title-text-color);
}

.main-menu-item:hover {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Розмічуємо мейл та телефон в футері */

.header-email-phone a {
  color: var(--article-text-color);
  text-decoration: none;
}

.header-email-phone a:hover,
.header-email-phone a:focus {
  color: var(--accent-color);
}

/* MAIN BANNER */
.main-banner {
  font-size: 44px;
  font-weight: 900;
  color: var(--primary-background-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--banner-color);
}

/* Колись ми повністю розмітимо цю кнопку */
.button {
  color: var(--primary-background-color);
  font-size: 16px;
  background-color: var(--accent-color);
  /* border-style: ???; */
  border-radius: 4;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
}

/* кнопки чекбокси в Портфоліо */
.filter-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  /* border-style: ???;
  border-radius: 4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
}

/* Елемент фільтру при ховері чі у фокусі */

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* Назва секції - невідима */
/* Скриваємо логічний заголовок секції, якого немає на екрані */
.hidden-header {
  display: none;
}

/* Список переваг */
.section-features-list-header {
  font-weight: 700;
  text-transform: uppercase;
  /* color: #212121;   стандартний колір із Баді*/
}

/* Назва секції - відима */
.section-name {
  font-size: 36px;
  font-weight: 700;
  /* color: #212121; стандартний колір body  */
  text-align: center;
}

.section-features-list-header {
  font-weight: 700;
}
.section-features-list-content {
  font-weight: 400;
  color: var(--article-text-color);
}

/* Картка працівника */
.section-team-mate-list {
  list-style-type: none;
}
.team-mate-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.team-mate-position {
  font-weight: 400;
  font-size: 16px;
  color: var(--article-text-color);
  text-align: center;
}

/* Розмічаємо Підвал  */

.page-footer {
  background-color: #2f303a;
  height: 252px;
}
.footer-addr-text-style1 a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}
.footer-addr-text-style2 a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

/* Стилізуємо портфоліо */

.portfolio-card-link {
  text-decoration: none;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-text-color);
}

.portfolio-industry {
  font-weight: 400;
  font-size: 16px;
  color: var(--title-text-color);
}
